<launch>
    <arg name="sim" default="false" />

    <!-- some weird stuff going on in the object_recognition_server regarding setting its node name -->
    <rosparam param="object_recognition">
        filter_planes: true
        min_table_height: 0.3
        max_table_height: 1.2
        robot_frame: /base_link
        sensor_frame: /head_mount_kinect_rgb_optical_frame
        max_angle_diff: 0.1

        clipping: 0.0075

        fitter_type: icp
        min_iterations: 20
        max_iterations: 1000
        min_iteration_improvement: 0.001
        downsample_leaf_size: 0.005
        outlier_dist: 0.03
        outlier_kernel: selection
        iniler_dist: 0.003
        inlier_kernel: huber

        confidence_cutoff: 0.85
        perform_fit_merge: false
    </rosparam>

    <node unless="$(arg sim)" pkg="ork_to_planning_scene" type="server" name="object_recognition_server" args="-c $(find ork_to_planning_scene)/config/detection.object.ros.ork" />
    <node if="$(arg sim)" pkg="ork_to_planning_scene" type="server" name="object_recognition_server" args="-c $(find ork_to_planning_scene)/config/detection.object.ros.gazebo.ork" />

    <node pkg="object_recognition_ros" type="object_information_server" name="object_information" />

    <node pkg="ork_to_planning_scene" type="ork_to_planning_scene" name="ork_to_planning_scene" />
</launch>
